body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#app {
    text-align: center;
}

canvas {
    border: 2px solid #000; /* Add a black border to the canvas */
}

.color-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.color {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.color[data-color] {
    background-color: var(--color);
}
